---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}


<H2>Selected Publications</H2>
The publications below have been selected to highlight (some of) the interests of the group.

Gibson AJ, Stiens J, Passmore IJ, Faulkner V, Miculob J, Willcocks S, Coad M, Berg S, Werling D, Wren BW, Nobeli I, Villarreal-Ramos B, Kendall SL. Defining the Genes Required for Survival of Mycobacterium bovis in the Bovine Host Offers Novel Insights into the Genetic Basis of Survival of Pathogenic Mycobacteria. mBio. 2022 Aug 30;13(4):e0067222. PMID: 35862770; PMCID: PMC9426507. Stiens and Gibson are joint first authors. DOI:10.1128/mbio.00672-22

Stiens J, Tan YY, Joyce R, Arnvig KB, Kendall SL, Nobeli I. Using a whole genome co-expression network to inform the functional characterisation of predicted genomic elements from Mycobacterium tuberculosis transcriptomic data. Mol Microbiol. 2023 Apr;119(4):381-400. doi: 10.1111/mmi.15055. Epub 2023 Mar 27. PMID: 36924313.

Ozuna, A., Liberto, D., Joyce, R.M., Arnvig, K.B. and Nobeli, I. (2019). baerhunter: An R package for the discovery and analysis of expressed non-coding regions in bacterial RNA-seq data. Bioinformatics, btz643.

Szkop, K.J., Cooke, P.I.C., Humphries, J.A., Kalna, V., Moss, D.S., Schuster, E.F., Nobeli, I. (2017) Dysregulation of Alternative Poly-adenylation as a Potential Player in Autism Spectrum Disorder. Frontiers in Molecular Neuroscience 10, 279.

Bagneris, C. DeCaen, P.G., Naylor, C.E., Pryde, D.C., Nobeli, I., Clapham, D.E., and Wallace, B.A. (2014). Prokaryotic NavMs channel as a structural and functional model for eukaryotic sodium channel antagonism. PNAS 111: 8428-8433.

Ashford, P., Moss, D.S., Alex, A., Yeap, S.K., Povia, A., Nobeli, I.$, Williams, M.A.$ (2012). Visualisation of variable binding pockets on protein surfaces by probabilistic analysis of related structure sets. BMC Bioinformatics 13, 39.


#{% include base_path %}

#<!-- New style rendering if publication categories are defined -->
#{% if site.publication_category %}
#  {% for category in site.publication_category  %}
#    {% assign title_shown = false %}
#    {% for post in site.publications reversed %}
 #     {% if post.category != category[0] %}
 #       {% continue %}
 #     {% endif %}
 #     {% unless title_shown %}
 #       <h2>{{ category[1].title }}</h2><hr />
  #      {% assign title_shown = true %}
   #   {% endunless %}
    #  {% include archive-single.html %}
    #{% endfor %}
  #{% endfor %}
#{% else %}
 # {% for post in site.publications reversed %}
  #  {% include archive-single.html %}
  #{% endfor %}
#{% endif %}



